body {
  background-color: white;
  margin: 0;
}

.cracker{ 
  font-size: 10px;
  color: #B22222;
  font-family: 'VT323', monospace;
  padding: 0px;
  position: fixed;
  width: 20%;
}

a:hover{
  color:#ff0000;
}
a:visited{
  color:#ff0080;
}

.middenwrapper {
  position: absolute;
  left: 20%;
  width: 80%;
}

.left {
  width: 50%;
  height: 1800px;
  background: white;
  color: white;
  float: left;
  text-align: center;
}

.right {
  width: 50%;
  height: 1800px;
  margin-top: -1500px; /*Start offset, put it at same as*/
  background: white;
  color: #000000;
  float: left;
  text-align: center;
}




#menu {
  background-color: #F0FFFF;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 180px;
}


.middenwrapper .left img,
.middenwrapper .right img {
  width: 100%!important
}

.cracker_scroller {
  overflow-y: scroll;
  height: 100vh
}

.cracker ul {
  list-style-type: none;
  margin-left: 0;
  padding: 0
}

.cracker ul li {
  margin-left: 0;
}


#wrapper {
  margin-left: 200px;
  width: 700px;
  position: absolute;
}

.wrapper_scroller {
  overflow-y: scroll;
  height: 100vh
}

.txtdiv {
  position: absolute;
  margin-left: 900px;
  width: 100%;
}

.txtdiv_scroller {
  overflow-y: scroll;
  height: 100vh
}


h1{
  color: #000000;
  left:  10px;
  padding: 10px;
  font-size: 180%;
  font-family: monospace;
  font-weight: normal;
  

}
h2{
  font-size: 20px;
  color: #black;
  padding-top: 5px;
  padding-left: 5px;
  font-family: arial;
  font-size: 10px;
}
h3{
	font-size: 10px;
  color: #FF0000;
	font-family: 'Exo', sans-serif;
  font-size: 10px; 
  padding-right: 10px;
}

.beeld_1{
  width: 300px;
  }
.beeld_2{
  width: 300px;
  }
  .beeld_3{
  width: 300px;
  }
  .beeld_4{
  width: 300px;
  }
   .beeld_5{
  width: 300px;
  }
 .beeld_6{
  width: 300px;
  }
.beeld_7{
  width: 300px;
  }

.beeld_8{
  width: 300px;
  }

.beeld_9{
  width: 300px;
  }

.beeld_10{
  width: 300px;
  }
.beeld_11{
  width: 300px;
  }
.beeld_12{
  width: 300px;
}
.beeld_13{
  width: 300px;
}
.beeld_14{
  width: 300px;
}
.beeld_15{
  width: 300px;
  }
.beeld_16{
  width: 300px;
  }
.beeld_17{
  width: 300px;
  }
.beeld_18{
  width: 300px;
}

.beeld_19{
  width: 300px;
}
.beeld_20{
  width: 300px;
}
.beeld_21{
  width: 300px;
}
.beeld_22{
  width: 300px;
}

.beeld_23{
  width:50%;
}

.beeld_24{
  width:300px;
}

.beeld_25{
  width:300px;
}

.beeld_26{
  width:300px;
}

.beeld_27{
  width:300px;
}

.beeld_28{
  width:500px;
}

.beeld_30{
  width:300px;
}
.beeld_31{
  width:300px;
}
.beeld_32{
  width:300px;
}
.beeld_33{
  width:300px;
}
.beeld_34{
  width:300px;
}

.beeld_35{
  width:300px;
}

.beeld_36{
  width:300px;
}

.beeld_37{
  width:300px;
}

.beeld_38{
  width:300px;
}

.beeld_39{
  width:300px;
}

.beeld_40{
  width:50%;
}

.beeld_41{
  width:50%;
}

.beeld_42{
  width:50%;
}

.beeld_43{
  width:50%;
}

.beeld_44{
  width:50%;
}


.beeld_45{
  width:50%;
}


.beeld_46{
  width:50%;
}

.beeld_47{
  width:50%;
}

.beeld_48{
  width:50%;
}

.beeld_49{
  width:50%;
}






.cycle-prev {
  font-size: 2em;
  color:black; 
  vertical-align: 0em; 
}
.cycle-next {
  font-size: 2em;
  color:#black;
  vertical-align: 0em;   
}






